SSH_PORT=2222
AUTHORIZED_KEYS=~/.ssh/authorized_keys
PROJECTS_DIR=~/projects
# Set to pull from Docker Hub instead of building locally:
# DOCKER_IMAGE=<your-dockerhub-username>/dev-tools-container:latest
