CONTAINER_NAME=devstation
SSH_PORT=2222
HOME_DIR=/mnt/ssd/docker/appdata/devstation/home
WIREGUARD_DIR=/mnt/ssd/docker/appdata/devstation/wireguard
TMUX_SOCKET_DIR=/tmp/tmux-1001
# DOCKER_IMAGE=yagich/devstation:latest
